@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background: rgb(170,179,212);
  background: linear-gradient(180deg, rgba(170,179,212,1) 0%, rgba(213,219,240,1) 39%, rgba(213,219,240,1) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #36383a;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.25s;
}
button:hover {
  background-color: rgb(89, 49, 122);
  color: white;
  border-width: 3px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#card{
  border-radius: 10px;
  margin-top: 50px;
  width: 300px;
  height: 550px;
  position: relative;
  cursor: pointer;
  transition: transform 1s;
  transform-style: preserve-3d;
  
  box-shadow: 3px 3px 24px #40b3ff,
  -3px -3px 24px #d66dda;
}
#front, #back{
  border: 3px solid #9eafce;
}
#content{
  overflow-x: inherit;
}
#card #front{
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6e1f7;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  backface-visibility: hidden;
}

#card #back{
  border-radius: 10px;

  background-color: #d6e1f7;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}

#card.active{
  transform: perspective(800px) rotateY(180deg)
}

.correct_options{
  width: 70px;
  margin-inline: 10px;
}